.geoportal-he {
    background-color: #137673 !important;
    color: white !important;
}

.geoportal-he-invert {
    background-color: white !important;
    color: #137673 !important;
}

.geoportal-rlp {
    background-color: #871d33 !important;
    color: white !important;
}

.geoportal-rlp-invert {
    background-color: white !important;
    color: #871d33 !important;
}

.geoportal-sl {
    background-color: #002966 !important;
    color: white !important;
}

.geoportal-sl-invert {
    background-color: white !important;
    color: #002966 !important;
}